<div class="container mt-5">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner text-left">
            <div class="carousel-item active">
                <img src="assets/images/torcan.jpg" class="d-block img-car" alt="...">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h2>Sobre nosotros</h2>
                    <p>Descubre Nuestra Historia: Compromiso, Innovación y Comunidad</p>
                    <button type="button" class="btn btn-primary">Descubrir</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/Shurecarrop.png" class="d-block img-car" alt="...">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h2>Productos</h2>
                    <p>Descubre Nuestra Tienda: Calidad y Variedad</p>
                    <button type="button" class="btn btn-primary">Descubrir</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/images/conciertocar.jpg" class="d-block img-car" alt="...">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h2>Servicios</h2>
                    <p>Explora Nuestros Servicios: Soluciones Personalizadas para tus Necesidades</p>
                    <button type="button" class="btn btn-primary">Explorar</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
        <div class="mt-5">
        <h1>Marcas con las que trabajamos:</h1>
        <div class="row mt-5 container-img ">
            <div class="col-md-4 text-center">
                <img src="assets/images/hk.jpg" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/Sennheiser_Logo.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center">
                <img src="assets/images/Rapco.jpg" alt="" class="brand-img">
            </div>
            <!-- Repite el patrón para las demás imágenes -->
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/gorber.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/alfa.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/England.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/american.jpg" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/audiocenter.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/das.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/ld.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/rcf.png" alt="" class="brand-img">
            </div>
            <div class="col-md-4 text-center mt-3">
                <img src="assets/images/mackie.png" alt="" class="brand-img">
            </div>
        </div>
        </div>
    </div>
    
    
