<footer class="bg-dark text-light mt-5 p-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="footer-title">Enlaces Útiles</h3>
                <ul class="footer-links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Contáctanos</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3 class="footer-title">Información de Contacto</h3>
                <p>Dirección: Bolivia N20-07 Pasaje E, Quito</p>
                <p>Teléfonos: </p>
                    <ul>
                        <li class="numero"><a href="https://wa.me/593998774712?Hola%20quiero%20más%20información%20de:">0998774712</a></li>
                        <li class="numero"><a href="https://wa.me/593995710476?Hola%20quiero%20más%20información%20de:">0995710476</a></li>
                        <li class="numero"><a href="https://wa.me/593961723340?Hola%20quiero%20más%20información%20de:">0961723340</a></li>
                    </ul>
                
                    <p [innerHTML]="'Correo: Torcan.empresa@gmail.com'"></p>
            </div>
            <div class="col-lg-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.793662102231!2d-78.51220929150288!3d-0.20143843539747935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a4056a0614b%3A0x8a84175698332e74!2sTorcan%20Soluciones%20Integrales!5e0!3m2!1ses-419!2sec!4v1702698042535!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <hr>
        <div class="mt-3 text-center">
            <p>&copy; 2023 <span>TORCAN</span>. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>