<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="pt-2" src="assets\images\LOGO-TORCAN.png" alt="Logo_Torcan">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="">Contáctanos</a>
          </li>
        </ul>
      </div>
    </div>
    <a href="auth" class="sesion navbar-brand">
        <div class="d-inline icono m-2"><i class="fa-regular fa-user fa-3x "></i></div>
        <div class="d-inline-block">
            <p>Iniciar sesión <br>Registrarse</p>
        </div>
    </a>
  </nav>

